* {
    margin: 0;
    padding: 0;
}

.atendimento {
    
    width: 300px;
    height: 100px;
    margin-left: 300px;
}

.time-logo {
    width: 30px;
    margin-top: 40px;
    margin-left: 10px;

}

.atendimento-text {
    margin-left: 50px;
    margin-top: -40px;
    color: #7FFF00;
}

.horario-text {
    margin-left: 50px;
    color: #C8C8C8;
}