* {
    margin: 0;
    padding: 0;
}

.av-3 {  
    width: 338px;
    height: 350px;
}

.av3-tex {
    font-size: 24px;

}

.av3-data {
    color: #6F6969;

}

.av3-lugar {
    color: #6F6969;
}

.estrela-11 {
    margin-top: 20px;
    width: 30px;
}

.estrela-11:hover {
    width: 35px;
}

.estrela-12 {
    margin-top: 20px;
    width: 30px;
}

.estrela-12:hover {
    width: 35px;
}

.estrela-13 {
    margin-top: 20px;
    width: 30px;
}

.estrela-13:hover {
    width: 35px;
}

.estrela-14 {
    margin-top: 20px;
    width: 30px;
}

.estrela-14:hover {
    width: 35px;
}

.estrela-15 {
    margin-top: 20px;
    width: 30px;
}

.estrela-15:hover {
    width: 35px;
}

.av3-coment {
    margin-top: 20px;
    color: #6F6969;
}
