section.slider {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content {
    width: 400%;
    height: auto;
    display: flex;
}


.slider-content input {
    display: none;
}

.slide-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}


.slide-box img {
    width: 100%;
}

.manual-nav, .auto-nav {
    position: absolute;
    width: 100%;
    margin-top: 38.7%;
    display: flex;
    justify-content: center;
}

.manual-nav .manualnav, .auto-nav div{
    border: 1px solid #7FFF00;
    padding: 10px;
    border-radius: 50%; 
    cursor: pointer;
    transition: 0.5s;
}

.manual-nav .manualnav:not(:last-child), .auto-nav div:not(:last-child){
    margin-right: 10px;
}

.manual-nav .manualnav:hover{
    background-color: #7FFF00;

}

#promoum:checked ~ .auto-nav .autoum{
    background-color: #7FFF00;
}

#promodois:checked ~ .auto-nav .autodois{
    background-color: #7FFF00;
}

#promotres:checked ~ .auto-nav .autotres{
    background-color: #7FFF00;
}

#promoum:checked ~ .firt{
    margin-left: 0%;
}

#promodois:checked ~ .firt{
    margin-left: -25%;
}

#promotres:checked ~ .firt{
    margin-left: -50%;
}
