<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Mania</title>
    <link rel="stylesheet" href="./home.component.css">
    
    <link rel="stylesheet" href="../style-css/slide.css">
    <link rel="stylesheet" href="../style-css/sell.css">
    <script src="slide.js" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Oswald:wght@500&family=Roboto:wght@100&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../login/login.compoment.teclado-mec.css">
    <link rel="stylesheet" href="../style-css/fonedeouvido.css">
    <link rel="stylesheet" href="../style-css/mouse.css">
    <link rel="stylesheet" href="../style-css/microfone.css">
    <link rel="stylesheet" href="../style-css/teclado-spl.css">
    <link rel="stylesheet" href="../style-css/headset-colorido.css">
    <link rel="stylesheet" href="../style-css/ps5.css">
    <link rel="stylesheet" href="../style-css/mouse-wg.css">
    <link rel="stylesheet" href="../style-css/av.css">
    <link rel="stylesheet" href="../style-css/av2.css">
    <link rel="stylesheet" href="../style-css/av3.css">
    <link rel="stylesheet" href="../style-css/av4.css">
    <link rel="stylesheet" href="../style-css/av5.css">
    <link rel="stylesheet" href="../style-css/black-info.css">
    <link rel="stylesheet" href="../style-css/atendimento.css">
    <link rel="stylesheet" href="../style-css/devolucoes.css">
    <link rel="stylesheet" href="../style-css/frete.css">
    <link rel="stylesheet" href="../style-css/parcelamento.css">
    <link rel="stylesheet" href="../style-css/box-white-end.css">
    <link rel="stylesheet" href="../style-css/contato.css">
    <link rel="stylesheet" href="../style-css/Institucional.css">
    <link rel="stylesheet" href="../style-css/selo.css">
    <link rel="stylesheet" href="../style-css/pagamentos-form.css">
</head>
<body>
    <div class="inicio">
        <h1 class="inicio-text">inicio</h1>
        <div class="opdireita">
            <h1>Rastrear pedido</h1>
            <h1 class="promo">Promoções</h1>
            <h1>Carrinho</h1>
        </div>
    </div>
    <div class="linegreen">
    </div>
    <section class="slider">
        <div class="slider-content">
            <input type="radio" name="img-promo-um" id="promoum">
            <input type="radio" name="img-promo-um" id="promodois">
            <input type="radio" name="img-promo-um" id="promotres">

            <div class="slide-box firt" >
                <img class="img-um" src="assets/img/promoum.jpg" alt="">
            </div>

            <div class="slide-box " >
                <img class="img-dois" src="assets/img/slide2.jpg" alt="">
                
            </div>

            <div class="slide-box " >
                <img class="img-tres" src="assets/img/slide3.jpg" alt="">
                
            </div>

            <div class="auto-nav">
                <div class="autoum"></div>
                <div class="autodois"></div>
                <div class="autotres"></div>
            </div>

            <div class="manual-nav">
                <label for="promoum" class="manualnav"></label>
                <label for="promodois" class="manualnav"></label>
                <label for="promotres" class="manualnav"></label>
            </div>
            
        </div>
    </section>
    <div class="linegreendois">
    </div>
    <div class="blackdetail">
        <div class="second-bar">
            <h1 class="play1">Playstation</h1>
            <h1 class="play2">Xbox</h1>

            <div class="tre-bar">
                <h1>Acessórios</h1>
                <h1>Novidades</h1>
            </div>
        </div>
    </div>
    <div class="blackdetail-2">
        <input class="pesquisa-edit" type="search" name="" id="search-1" placeholder="Faça uma pesquia...">
            <div class="text-sub-cat">
                <h5>Video Games</h5>
                <h5>Nintendo</h5>
                <h5>Game Cube</h5>
                <h5>Jogos Usados</h5>
                <h5>Retrô</h5>
                <h5>Aúdio</h5>
                <h5>Usados</h5>
            </div>
    </div>

    <div class="vendas-white">
        <div class="box-sell">
            <img class="tec-mec-sell" src="assets/img/teclado-mec.png" alt="">
            <h4 class="tec-text">Teclado Gamer Logitech G213 Prodigy RGB ABNT2</h4>
            <h5 class="tec-valor">R$ 449,90</h5>
            <h4 class="tec-valor2">R$ 395,91</h4>
            <h5 class="tec-pix">vista no PIX</h5>

            <button class="tec-comprar-button">COMPRAR</button>
        </div>

        <div class="box-sell2">
            <img class="fonedeouvido-sell" src="assets/img/fone de ouvido.png" alt="">
            <h4 class="fone-text">Headset Gamer Logitech G735 Sem Fio Branco</h4>
            <h5 class="fone-valor">R$ 1.499,90</h5>
            <h4 class="fone-valor2">R$ 1.319,91</h4>
            <h5 class="fone-pix">vista no PIX</h5>

            <button class="fone-comprar-button">COMPRAR</button>
        </div>

        <div class="box-sell3">
            <img class="mouse-sell" src="assets/img/mouse.png" alt="">
            <h4 class="mouse-text">Mouse para jogos Logitech (g) g102, leve, rgb, leve, 200-8000dpi, segunda geração, ergonômico, computador</h4>
            <h5 class="mouse-valor">R$ 223,03</h5>
            <h4 class="mouse-valor2">R$ 57,99</h4>
            <h5 class="mouse-pix">vista no PIX</h5>

            <button class="mouse-comprar-button">COMPRAR</button>
        </div>

        <div class="box-sell4">
            <img class="microfone-sell" src="assets/img/microfone.png" alt="">
            <h4 class="microfone-text">Microfone do usb do ampligame de fifine, microfone do portátil do desktop da gravação dos jogos de computador</h4>
            <h5 class="microfone-valor">280,50</h5>
            <h4 class="microfone-valor2">R$ 112,20</h4>
            <h5 class="microfone-pix">vista no PIX</h5>

            <button class="microfone-comprar-button">COMPRAR</button>
        </div>

    </div>
    
    <div class="vendas-white-2">
        <div class="box-sell5">
            <img class="teclado-simples-sell" src="assets/img/telcado1.png" alt="">
            <h4 class="teclado-text">60% Teclado mecânico sem fio Bluetooth Dual Mode Hot-Swappable Mini 68-chave interruptor vermelho</h4>
            <h5 class="teclado-valor">R$ 281,99</h5>
            <h4 class="teclado-valor2">R$ 103,88</h4>
            <h5 class="teclado-pix">vista no PIX</h5>

            <button class="teclado-comprar-button">COMPRAR</button>
        </div>

        <div class="box-sell6">
            <img class="ps5-simples-sell" src="assets/img/ps5.png" alt="">
            <h4 class="ps5-text">Console Playstation 5 Sony, SSD 825GB, Controle sem fio DualSense, Com Mídia Física, Branco - 1214A</h4>
            <h5 class="ps5-valor">R$ 4,499,99</h5>
            <h4 class="ps5-valor2">R$ 3,220,99</h4>
            <h5 class="ps5-pix">vista no PIX</h5>

            <button class="ps5-comprar-button">COMPRAR</button>

        </div>

        <div class="box-sell7">
            <img class="heaset-colorido-sell" src="assets/img/headset-colorido.png" alt="">
            <h4 class="heaset-colorido-text">Headset Gamer Logitech G435 <p>Azul Sem Fio</p></h4>
            <h5 class="heaset-colorido-valor">R$ 4,499,99</h5>
            <h4 class="heaset-colorido-valor2">R$ 3,220,99</h4>
            <h5 class="heaset-colorido-pix">vista no PIX</h5>
            
            <button class="heaset-colorido-button">COMPRAR</button>
        </div>

        <div class="box-sell8">
            <img class="mouse-wg-sell" src="assets/img/mouse-w-g.png" alt="">
            <h4 class="mouse-wg-text">Headset Gamer Logitech G435 <p>Azul Sem Fio</p></h4>
            <h5 class="mouse-wg-valor">R$ 879,90</h5>
            <h4 class="mouse-wg-valor2">R$ 774,31</h4>
            <h5 class="mouse-wg-pix">vista no PIX</h5>

            <button class="mouse-wg-button">COMPRAR</button>
        </div>

    </div>
    <div class="box-white-3">
        <div class="avaliacoes">
            <h1 class="avaliacoes-text">Avaliações</h1>
        </div>
    </div>
    <div class="box-white-4">
        <div class="av-1">
            <h2 class="av1-tex">Sandra Souza</h2>
            <h5 class="av1-data">Data de avaliação: 29/10/2023</h5>
            <h5 class="av1-lugar">Jaraguá do sul - SC</h5>
            <img class="estrela-1" src="assets/img/estrela.png" alt="">
            <img class="estrela-2" src="assets/img/estrela.png" alt="">
            <img class="estrela-3" src="assets/img/estrela.png" alt="">
            <img class="estrela-4" src="assets/img/estrela.png" alt="">
            <img class="estrela-5" src="assets/img/estrela.png" alt="">
            <h5 class="av1-coment">Cumpriram o prazo de entrega de 3 dias, o produto chegou em ótimo estado e bem embalado, estou mto satisfeito!</h5>
        </div>

        <div class="av-2">
            <h2 class="av2-tex">José Santos</h2>
            <h5 class="av2-data">Data de avaliação: 01/08/2023</h5>
            <h5 class="av2-lugar">São Paulo - SP</h5>
            <img class="estrela-6" src="assets/img/estrela.png" alt="">
            <img class="estrela-7" src="assets/img/estrela.png" alt="">
            <img class="estrela-8" src="assets/img/estrela.png" alt="">
            <img class="estrela-9" src="assets/img/estrela.png" alt="">
            <img class="estrela-10" src="assets/img/estrela.png" alt="">
            <h5 class="av2-coment">Recomendo, nota 10</h5>
        </div>

        <div class="av-3">
            <h2 class="av3-tex">Jonas Amorin </h2>
            <h5 class="av3-data">Data de avaliação: 10/10/2023</h5>
            <h5 class="av3-lugar">Queimados - RJ</h5>
            <img class="estrela-11" src="assets/img/estrela.png" alt="">
            <img class="estrela-12" src="assets/img/estrela.png" alt="">
            <img class="estrela-13" src="assets/img/estrela.png" alt="">
            <img class="estrela-14" src="assets/img/estrela.png" alt="">
            <img class="estrela-15" src="assets/img/estrela.png" alt="">
            <h5 class="av3-coment">Muito bom!</h5>
        </div>

        <div class="av-4">
            <h2 class="av4-tex">Gilson Silva </h2>
            <h5 class="av4-data">Data de avaliação: 02/09/2023</h5>
            <h5 class="av4-lugar">Joinville - SC</h5>
            <img class="estrela-16" src="assets/img/estrela.png" alt="">
            <img class="estrela-17" src="assets/img/estrela.png" alt="">
            <img class="estrela-18" src="assets/img/estrela.png" alt="">
            <img class="estrela-19" src="assets/img/estrela.png" alt="">
            <img class="estrela-20" src="assets/img/estrela.png" alt="">
            <h5 class="av4-coment">Cumpriram o prazo de entrega de 3 dias, o produto chegou em ótimo estado e bem embalado, estou mto satisfeito!</h5>

        </div>

        <div class="av-5">
            <h2 class="av5-tex">Yasmin Souza</h2>
            <h5 class="av5-data">Data de avaliação: 21/11/2023</h5>
            <h5 class="av5-lugar">Picuí - PB</h5>
            <img class="estrela-21" src="../img/estrela.png" alt="">
            <img class="estrela-22" src=".../img/estrela.png" alt="">
            <img class="estrela-23" src="../img/estrela.png" alt="">
            <img class="estrela-24" src="../img/estrela.png" alt="">
            <img class="estrela-25" src=".../img/estrela.png" alt="">
            <h5 class="av5-coment">Super rapida, recomendo!!</h5>
        </div>
    </div>

    <div class="black-info">
        <div class="atendimento">
            <img class="time-logo" src="./img/time.png" alt=""> 
            <h5 class="atendimento-text">ATENDIMENTO</h5>
            <h5 class="horario-text">Segunda á sexta das 9h00 ás 17h00</h5>
        </div>

        <div class="devolucoes">
            <img class="devo-logo" src="./img/devolucoes.png" alt=""> 
            <h5 class="troca-text">TROCAS E DEVOLUÇÕES</h5>
            <h5 class="dia-text">Até 7 dias para devolver a compra</h5>
        </div>

        <div class="frete">
            <img class="frete-logo" src="./img/entrega.png" alt=""> 
            <h5 class="frete-text">FRETE</h5>
            <h5 class="frete2-text">Enviamos para todo Brasil!</h5>
        </div>

        <div class="parcelamento">
            <img class="parcelamento-logo" src="./img/cartao.png" alt=""> 
            <h5 class="parcelamento-text">PARCELAMENTO</h5>
            <h5 class="parcelamento2-text">Em até 10x sem juros no cartão</h5>
        </div>
    </div>

    <div class="box-white-5">
        <div class="contato">
            <h5 class="contato-text">Contato</h5>
            <div class="logo-text">    
                <img class="logo-whats-cont" src="./img/logowhats.png" alt="">
                <h4>(+00) 0000-0000</h4>
            </div>
            <div class="logo-text-email">
                <img class="logo-email-cont" src="./img/emaillogo.png" alt="">
                <h4 class="email-cont">Nome&#64;gmail.com</h4>
            </div>
        </div>

        <div class="Institucional">
            <h5 class="institu-text">Institucional</h5>
            <h4 class="assis-text">Assistência Técnica</h4>
            <h4 class="compra-text">Como Comprar</h4>
            <h4 class="privacidade-text">Politica de privacidade</h4>
            <h4 class="quemsomos-text">Quem Somos</h4>
        </div>

        <div class="selos">
            <h5 class="selos-text">Selos de Segurança</h5>
            <img class="selo-google" src="./img/selogoogle.png" alt="">
            <img class="selo-consumidor" src="./img/seloconsumidor.png" alt="">
            <img class="nave-segura" src="./img/navesegura.png" alt="">
        </div>

        <div class="pagamentos-form">
            <h5 class="pagament-text">Formas de pagamento</h5>
            <img class="master-card" src="./img/mastecard.png" alt=""> 
            <img src="./img/visa.png" alt="">
            <img src="./img/pix.png" alt="">   
        </div>
    </div>

    <div class="box-white-6">
        <h5 class="direitos-reservados">JOSÉ FELLIPE (ATIVIDADE SENAI) TODOS OS DIREITOS RESERVADOS</h5>
    </div>
</body>
</html>